*{
    font-family: verdana;
    margin: 0;
}

body{
    background: white;
}

nav{
    background: white;
 }

 nav ul{
     list-style: none;
     padding: 0;
 }

 nav a{
     text-decoration: none;
     color: black;
     display: block;
     padding: 0.5rem;
     font-size: 1.35rem;
 }

 nav a:hover{
    background-color: rgb(133, 185, 185);
    color: white;
    border-radius: 1rem;
    }

 #welcome-box{
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
     margin-bottom: 1rem;
     width: 100%;
 }

 .heading{
     font-size: 3rem;
     letter-spacing: 0.5rem;
     color: black;
     text-align: center;
 }

 .subheading{
     text-align: center;
     font-size: 1rem;
     margin-top: 2rem;
     margin-left: 1rem;
     margin-right: 1rem;
 }


#mywork-box{
background-color: white; 
margin-top: 2rem;
margin-bottom: 3rem;
}

#aboutme-box{
background-color: white; 
margin-top: 2rem;
margin-bottom: 3rem;
}


.section-header{
    font-size: 3rem;
    text-align: center;
}

.section-header-extra{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

 .portfolio-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}
.contact{
    padding: 3%;
    background-color: rgb(236, 236, 236); 
    text-align: center;
}

.contact p{
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.contact h3{
    font-size: 100%;
    text-align: center;
    padding-top: 0.5%;
}


.chat-list{
    list-style: none;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(133, 185, 185);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
  .container {
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
  }

.footer{
    background-color: rgb(236, 236, 236);
    padding-top: 3rem;
    padding-bottom: 1rem;
}  

.footer p{
    text-align: center;
    font-size: 0.75rem;
}

 @media screen and (min-width: 1024px){

    nav ul{
      display: flex;
      justify-content: end;
    }

    nav a{
        font-size: 1.25rem;
        padding: 40px;
        text-align: right;
        text-decoration: none;
        color: black;
        display: block;
        }

#welcome-box{
    flex-direction: row;
}

#hero-image{
    width: 50%;
}

.subheading{
   display: grid;
   place-items: top; 
   padding top: 10%;
   margin-left: 2rem;
   margin-top: 3rem;
   font-size: 1rem;
}

.portfolio-container{
    flex-direction: row;
}